In [2]:
import pandas as pd
import numpy as np

def adder(ele1,ele2):
    return ele1+ele2

df = pd.DataFrame(np.random.randn(5,3),columns=['first','second','cthird'])
print(df)
print("printing the results of pipe")
print(df.pipe(adder,2))

      first    second    cthird
0 -0.728608 -0.158107  0.171229
1 -0.361791 -2.028574 -1.193851
2 -1.197070  0.786251 -0.152846
3  1.035492  1.404873 -0.122124
4 -0.848639 -1.407299 -1.795608
printing the results of pipe
      first    second    cthird
0  1.271392  1.841893  2.171229
1  1.638209 -0.028574  0.806149
2  0.802930  2.786251  1.847154
3  3.035492  3.404873  1.877876
4  1.151361  0.592701  0.204392

In [3]:
import pandas as pd
import numpy as np

def adder(ele1,ele2):
   return ele1+ele2

df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)

print (df.apply(np.mean))

       col1      col2      col3
0  0.045017  0.291698 -1.474544
1  0.071710  0.382830 -0.074620
2 -0.742563  0.664316 -1.507753
3 -0.113005  1.008660 -0.624706
4 -0.622702  1.867042  0.434621
col1   -0.272308
col2    0.842909
col3   -0.649400
dtype: float64

In [4]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)

print (df.apply(np.mean,axis=1))

       col1      col2      col3
0  1.145033  0.545156 -2.247187
1  0.043571  0.652382  0.920793
2  1.187252 -0.756271 -0.480488
3 -0.891874 -0.261765 -0.554169
4  1.251357  1.379434 -0.227435
0   -0.185666
1    0.538915
2   -0.016502
3   -0.569269
4    0.801119
dtype: float64

In [5]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)

print(df['col1'].map(lambda x:x*100))

       col1      col2      col3
0 -0.521502  0.394893 -1.549492
1  1.428393  0.546189  1.221164
2 -0.648495  0.414480  0.064633
3 -1.548629  0.861123 -0.759458
4 -0.139164 -0.065410  0.838059
0    -52.150214
1    142.839325
2    -64.849549
3   -154.862900
4    -13.916351
Name: col1, dtype: float64

In [6]:
df=pd.DataFrame({'id':[1,2,3,4,5],'name':['abc','defg','ghs','eeee','wwww'],'age':[11,22,33,44,55], 'income':[9999,8888,7777,6666,5555]})
print(df)

   id  name  age  income
0   1   abc   11    9999
1   2  defg   22    8888
2   3   ghs   33    7777
3   4  eeee   44    6666
4   5  wwww   55    5555

In [7]:
df['age']=df.apply(lambda x: x['age']+3, axis=1)
print(df)

   id  name  age  income
0   1   abc   14    9999
1   2  defg   25    8888
2   3   ghs   36    7777
3   4  eeee   47    6666
4   5  wwww   58    5555

In [8]:
list(filter(lambda x:x>18, df['age']))

[25, 36, 47, 58]

In [9]:
df['income']=list(map(lambda x: int(x+x*0.2), df['income']))
print(df)

   id  name  age  income
0   1   abc   14   11998
1   2  defg   25   10665
2   3   ghs   36    9332
3   4  eeee   47    7999
4   5  wwww   58    6666

In [10]:
import functools

functools.reduce(lambda a,b: a+b, df['income'])

46660

In [11]:
df['category']=df['age'].apply(lambda x: 'Adult' if x>=18 else 'Child')

In [12]:
print(df)

   id  name  age  income category
0   1   abc   14   11998    Child
1   2  defg   25   10665    Adult
2   3   ghs   36    9332    Adult
3   4  eeee   47    7999    Adult
4   5  wwww   58    6666    Adult